$white-color:rgb(255, 255, 255);
$header-height:40px;
$toolbar-height:50px;
$formula-height:25px;
$info-cell-width:40px;
$row-height:24px;
$cell-width:120px;
$db-header-height:64px;
$border-focus-color:rgb(92, 92, 255);
$border-color: rgba(139, 139, 139, 0.596)
