@import "variables";
@import "mixins";
.excel__header{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 10px 5px 0;
    display: flex;
    justify-content:space-between;
     .input{
        margin: 0;
        padding: 2px 7px;
        font-size: 1rem;
        border: 1px solid transparent;
        border-radius: 3px;
        height: 20px;
        line-height: 22px;
        outline: none;
      &:hover{
          border: 1px solid $border-color;
      }
      &:focus{
          border: 2px solid $border-focus-color;
      }
    }
    .button{
        @include button(red)
    }
}